absl-py
ackermann-msgs==2.0.2
action-msgs==1.2.2
action-tutorials-interfaces==0.20.7
action-tutorials-py==0.20.7
actionlib-msgs==4.9.0
actuator-msgs==0.0.1
addict==2.4.0
aioice
aiortc
ament-clang-format==0.12.14
ament-cmake-test==1.3.12
ament-copyright==0.12.14
ament-cppcheck==0.12.14
ament-cpplint==0.12.14
ament-flake8==0.12.14
ament-index-python==1.4.0
ament-lint==0.12.14
ament-lint-cmake==0.12.14
ament-package==0.14.1
ament-pep257==0.12.14
ament-uncrustify==0.12.14
ament-xmllint==0.12.14
angles==1.15.0
anyio
asttokens==3.0.1
attrs
autolab-core==1.1.1
autolab-perception==1.0.0
av
avp_stream==2.51
beautifulsoup4==4.14.3
blinker==1.8.1
builtin-interfaces==1.2.2
certifi==2026.1.4
cffi==1.17.0
charset-normalizer==3.4.4
click
colorlog==6.10.1
comm==0.2.3
composition-interfaces==1.2.2
ConfigArgParse==1.7.1
contourpy
control-msgs==4.8.0
controller-manager==2.52.2
controller-manager-msgs==2.52.2
cryptography==46.0.4
cv-bridge==3.2.1
cvxopt==1.3.2
cycler==0.12.1
dash==3.3.0
demo-nodes-py==0.20.7
Deprecated==1.3.1
diagnostic-msgs==4.9.0
dill==0.4.0
dnspython
domain-coordinator
etils
example-interfaces==0.9.3
examples-rclpy-executors==0.15.5
examples-rclpy-minimal-action-client==0.15.5
examples-rclpy-minimal-action-server==0.15.5
examples-rclpy-minimal-client==0.15.5
examples-rclpy-minimal-publisher==0.15.5
examples-rclpy-minimal-service==0.15.5
examples-rclpy-minimal-subscriber==0.15.5
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
ffmpeg-python==0.2.0
filelock
Flask
fonttools
fsspec
gdown==5.2.1
generate-parameter-library-py==0.5.0
geometry-msgs==4.9.0
glfw==2.10.0
google-crc32c
gps-msgs==2.1.1
graph-msgs==0.2.0
graspnetAPI==1.2.11
grpcio
grpcio-tools
h11
h5py
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub
idna==3.11
ifaddr==0.2.0
image-geometry
ImageIO
importlib_resources
interactive-markers==2.3.2
ipython
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsonschema
jsonschema-specifications
jupyter_core
jupyterlab_widgets==3.0.16
kiwisolver
laser-geometry==2.4.1
launch==1.0.13
launch-ros==0.19.13
launch-testing==1.0.13
launch-testing-ros==0.19.13
launch-xml==1.0.13
launch-yaml==1.0.13
lazy_loader==0.4
lifecycle-msgs==1.2.2
logging-demo==0.20.7
map-msgs==2.1.0
MarkupSafe
matplotlib
matplotlib-inline
meshcat==0.3.2
message-filters==4.3.11
moveit-msgs==2.2.1
mujoco
multiprocess==0.70.18
narwhals
nav-msgs==4.9.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx
numpy
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
open3d==0.19.0
opencv-python==4.7.0.72
osrf-pycommon==2.1.6
pandas
parso==0.8.5
pcl-msgs==1.0.0
pendulum-msgs==0.20.7
pillow
platformdirs
plotly==6.5.0
prompt_toolkit==3.0.52
protobuf==3.20.3
pure_eval==0.2.3
pycparser
pydub==0.25.1
pyee==13.0.0
pygame==2.6.1
pylibsrtp
pyngrok
PyOpenGL==3.1.10
pyOpenSSL==25.3.0
pyparsing
pyquaternion==0.9.9
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-qt-binding==1.1.3
PyWavefront==1.3.3
PyYAML==6.0.3
pyzmq==27.1.0
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.7
rcl-interfaces==1.2.2
rclpy==3.3.19
rcutils==5.1.7
referencing
requests
resource-retriever==3.1.3
retrying==1.4.2
rmw-dds-common==1.6.0
ros-gz-interfaces==0.244.20
ros2action==0.18.15
ros2bag==0.15.15
ros2cli==0.18.15
ros2component==0.18.15
ros2controlcli==2.52.2
ros2doctor==0.18.15
ros2interface==0.18.15
ros2launch==0.19.13
ros2lifecycle==0.18.15
ros2multicast==0.18.15
ros2node==0.18.15
ros2param==0.18.15
ros2pkg==0.18.15
ros2run==0.18.15
ros2service==0.18.15
ros2test==0.4.0
ros2topic==0.18.15
rosbag2-interfaces==0.15.15
rosbag2-py==0.15.15
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.7
rosidl-cli==3.1.7
rosidl-cmake==3.1.7
rosidl-generator-c==3.1.7
rosidl-generator-cpp==3.1.7
rosidl-generator-py==0.14.6
rosidl-parser==3.1.7
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.3
rosidl-typesupport-fastrtps-cpp==2.2.3
rosidl-typesupport-introspection-c==3.1.7
rosidl-typesupport-introspection-cpp==3.1.7
rpds-py
rpyutils==0.2.2
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.9
rqt-gui-py==1.1.9
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.9
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
ruamel.yaml
ruamel.yaml.clib
scikit-image
scikit-learn
scipy
sensor-msgs==4.9.0
sensor-msgs-py==4.9.0
setproctitle==1.3.7
shape-msgs==4.9.0
shellingham==1.5.4
six==1.17.0
soupsieve
sros2==0.10.7
stack-data==0.6.3
statistics-msgs==1.2.2
std-msgs==4.9.0
std-srvs==4.9.0
stereo-msgs==4.9.0
teleop-twist-keyboard==2.4.1
tf2-geometry-msgs==0.25.17
tf2-kdl==0.25.17
tf2-msgs==0.25.17
tf2-py==0.25.17
tf2-ros-py==0.25.17
tf2-sensor-msgs==0.25.17
tf2-tools==0.25.17
theora-image-transport==2.5.4
threadpoolctl
tifffile
topic-monitor==0.20.7
tornado
tqdm==4.67.1
traitlets==5.14.3
trajectory-msgs==4.9.0
trimesh==4.10.1
turtlesim==1.4.3
typer-slim
typing_extensions
tzdata==2025.3
u-msgpack-python==2.8.0
unique-identifier-msgs==2.2.1
urllib3
vision-msgs==4.1.1
visualization-msgs==4.9.0
wcwidth==0.2.14
websocket-client
websockets
Werkzeug
widgetsnbextension==4.0.15
wrapt==2.0.1
xacro==2.1.1
zipp
